<mat-toolbar color="primary">
  <span>
    Messages App
  </span>
  <span class="spacer"></span>
  <nav>
      <a mat-raised-button routerLink="/messages" routerLinkActive="mat-accent">Messages</a>
      <a *ngIf="userIsAuthenticated" mat-raised-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
      <a *ngIf="!userIsAuthenticated" mat-raised-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      <a *ngIf="!userIsAuthenticated" mat-raised-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      <button *ngIf="userIsAuthenticated" (click)="onLogout()" mat-raised-button >Logout</button>
  </nav>

</mat-toolbar>